<mat-card *ngIf="data">
    <mat-card-content>
        <div>
             <h4>Find below the Covid details for {{data[0].state }}</h4>
             <div class="content">
                <div class="content-1">
                   <p>Rural Hospitals</p>
                   <p>Rural Beds </p>
                   <p>Urban Hospitals </p>
                   <p>Urban Beds</p>
                   <p>Total Hospitals</p>
                   <p>Total Beds</p>
                   <p>Information as on</p>
                </div>

                <div class="content-2">
                   <p>{{data[0].ruralHospitals}}</p>
                   <p>{{data[0].ruralBeds}}</p>
                   <p>{{data[0].urbanHospitals}}</p>
                   <p>{{data[0].urbanBeds}}</p>
                   <p>{{data[0].totalHospitals}}</p>
                   <p>{{data[0].totalBeds}}</p>
                <p> {{data[0].asOn.slice(0, 10)}}</p>

                </div>
            </div>
        </div>
       <!-- <p>{{data}}</p> -->
    </mat-card-content>
    <!-- <button mat-stroked-button (click)="sendMessage('can you provide me country wise Covid 19 details?')"  color="primary">View for different country?</button> -->
    <mat-chip   color="primary" (click)="sendMessage('different state info for Covid 19')" selected>View for different state?</mat-chip>

</mat-card>