@import "milligram";
body {
    font-family: Arial, Helvetica, sans-serif;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.from-msg {
    background: #3366ff;
    color: #ffffff;
    border-top-left-radius: 0;
    padding: 1rem;
    border-radius: 0.5rem;
    word-break: break-word;
    white-space: pre-wrap;
    max-width: 100%;
    margin-bottom: 0;
}